<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Hi participant!</h3>
      </div>
      <div class="panel-body">
        <%= form_for @participant, url: { action: :create } do |f| %>
          <%= render partial: 'shared/error_messages', locals: { model: @participant } %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, required: true, class: 'form-control', maxlength: 25 %>
          </div>
          <%= f.submit "Enter session", class: 'btn btn-info btn-lg btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
