<h2><%= countdown(Time.current + @session.duration.minutes) %></h2>

<%= form_for @session, url: { action: :update } do |f| %>
  <%= f.hidden_field :status, value: :finished %>
  <%= f.submit 'Finish session', class: 'btn btn-warning btn-lg', id: 'finish-session' %>
<% end %>

<span id='session-duration' data-duration="<%= @session.duration %>">


<%= javascript_include_tag 'meditation_session/timer' %>
