<h2><%= countdown(Time.current + @session.duration.minutes) %></h2>

<%= audio_tag('bell.mp3') %>
<audio id="xunda" hidden='true' controls>
  <source src="<%= audio_path('bell.mp3') %>"></source>
</audio>
<span id='session-duration' data-duration="<%= @session.duration %>">

<%= javascript_include_tag 'meditation_session/timer' %>
