<p>
  <strong>Duration:</strong> <%= @session.duration %> minutes
</p>

<div>
  <span>Share link with other participants</span>
  <button class="btn btn-default" data-clipboard-text="<%= new_meditation_session_participant_url(@session) %>">
    <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
  </button>
</div>

<div id='participants'>
  Participants: <%= @session.participants.pluck(:name).join(', ') %>
</div>
<hr class="spacer-md"/>

<%= form_for @session, url: { action: :update }, remote: true do |f| %>
  <%= f.hidden_field :status, value: :started %>
  <%= f.submit 'Start Meditating', id: 'start-meditation', class: 'btn btn-success btn-lg btn-block' %>
<% end %>

<%= javascript_include_tag 'share_link' %>
