<p>
  <strong>Duration:</strong> <%= @session.duration %> minutes
</p>

<p>
  Share link with other participants
</p>

<p>
  <a href="<%= new_meditation_session_participant_path(@session) %>" target="_blank">
    <%= new_meditation_session_participant_url(@session) %>
  </a>
</p>

<div id='participants'>
  Participants: <%= @session.participants.pluck(:name).join(', ') %>
</div>
<hr class="spacer-md"/>

<%= form_for @session, url: { action: :update }, remote: true do |f| %>
  <%= f.hidden_field :status, value: :started %>
  <%= f.submit 'Start Meditating', id: 'start-meditation', class: 'btn btn-success btn-lg btn-block' %>
<% end %>
