<p>
  Duration: <%= @session.duration %> minutes
</p>

<p>
  Share link with other participants
</p>

<p>
  <a href="<%= new_meditation_session_participant_path(@session) %>" target="_blank">
    <%= new_meditation_session_participant_url(@session) %>
  </a>
</p>

<p>
  <div id='participants'>
    Participants: <%= @session.participants.pluck(:name).join(', ') %>
  </div>
</p>

<%= form_for @session, url: { action: :update } do |f| %>
  <%= f.hidden_field(:status, value: 'started') %>
  <%= f.submit 'Start Meditating' %>
<% end %>

<%= javascript_include_tag 'meditation_session/session_updater' %>
