<p>
  Duration: <%= @session.duration %> minutes
</p>

<p>
  Share link with other participants
</p>

<p>
  <a href="<%= new_meditation_session_participant_path(@session) %>" target="_blank">
    <%= new_meditation_session_participant_url(@session) %>
  </a>
</p>

<p>
  Participants: <%= @session.participants.pluck(:name).join(', ') %>
</p>

<%= form_for @session, url: { action: :update } do |f| %>
  <%= f.hidden_field(:status, value: 'started') %>
  <%= f.submit 'Start Meditating', class: 'btn btn-success btn-lg' %>
<% end %>
