<h1>Create a meditation session</h1>

<%= form_for @session, url: { action: :create } do |f| %>
  <p>
    <%= f.label :duration %>
    <%= f.number_field :duration, required: true, min: 1 %>
  </p>

  <p>Participant</p>

  <%= f.fields_for :participants do |participants_form| %>
    <p>
      <%= participants_form.label :name %>
      <%= participants_form.text_field :name %>
    </p>
  <% end %>

  <%= f.submit 'Create session' %>
<% end %>
