<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Create a meditation session</h3>
      </div>
      <div class="panel-body">
        <%= form_for @session, url: { action: :create } do |f| %>
        <%= render partial: 'shared/error_messages', locals: { model: @session } %>

        <div class="form-group">
          <%= f.label :duration %>
          <%= f.select :duration, options_for_duration, {}, {class: 'form-control'} %>
        </div>

        <%= f.fields_for :participants do |participants_form| %>
        <div class="form-group">
          <%= participants_form.label :name, class: 'sr-only' %>
          <%= participants_form.text_field :name, class: 'form-control', placeholder: 'Your name', maxlength: 25, required: true %>
        </div>
        <% end %>

        <%= f.submit 'Create session', class: 'btn btn-info btn-lg btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
