<!DOCTYPE html>
<html>
  <head>
    <title>Just Breathe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <center><%= image_tag('meditation.svg', height: 50, width: 83.15) %></center>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
