<!DOCTYPE html>
<html>
  <head>
    <title>Just Breathe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon-192x192-mobile.png', type: 'image/png', sizes: '192x192' %>
    <%= favicon_link_tag 'favicon-192x192-mobile.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '128x128' %>
    <%= favicon_link_tag 'favicon-192x192-mobile.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '128x128' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="theme-color" content="#79C1DD">
    <meta name="apple-mobile-web-app-status-bar-style" content="#79C1DD">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

  </head>

  <body>
    <div class="container">
      <%= link_to root_path do %>
        <%= image_tag('favicon-192x192.png', width: 80, class: 'img-responsive center-block') %>
      <% end %>

      <%= yield %>

      <% flash.each do |key, message| %>
        <div class="alert alert-<%= key %> fade in">
          <%= button_tag '&times;'.html_safe, class: 'close', data: { dismiss: 'alert' }, 'aria-label' => 'close' %>
          <%= message %>
        </div>
      <% end %>

      <% flash.clear %>
    </div>
  </body>
</html>
