<!DOCTYPE html>
<html>
  <head>
    <title>Justbreathe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <center><%= image_tag('meditation.svg', height: 191.2, width: 318) %></center>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
