<!DOCTYPE html>
<html>
  <head>
    <title>Just Breathe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <div class="container">
      <%= link_to root_path do %>
        <%= image_tag('meditation.svg', height: 50, width: 83.15, class: 'img-responsive center-block') %>
      <% end %>

      <%= yield %>

      <% flash.each do |key, message| %>
        <div class="alert alert-<%= key %> fade in">
          <%= button_tag '&times;'.html_safe, class: 'close', data: { dismiss: 'alert' }, 'aria-label' => 'close' %>
          <%= message %>
        </div>
      <% end %>

      <% flash.clear %>
    </div>
  </body>
</html>
